<a href="https://colab.research.google.com/github/Biancaa-R/Pattern-programs--absolute-beginers/blob/main/Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pattern programs to try when you have nothing else to do.

**Number triangle**

In [ ]:
for i in range (0,10):
    for j in range(0,i):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

**Increasing decreasing pyramid on y axis**

In [ ]:
for i in range (0,10):
    for j in range(0,i):
        print(i,end=" ")
    print(" ")
for i in range(1,11):
    print(0,end=" ")
print(" ")    

for i in range (9,0,-1):
    for j in range(0,i):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
0 0 0 0 0 0 0 0 0 0
9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

**Inverted number Triangle**

In [ ]:
for i in range(9, 0, -1):
    for j in range(0, i):
        print(i, end=" ")
    print("\r")

9 9 9 9 9 9 9 9 9
8 8 8 8 8 8 8 8
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

Inverted number pyramid starting from lower number

In [61]:
rows = 10
b = 0
# reverse for loop from 5 to 0
for i in range(rows, 0, -1):
    b += 1
    for j in range(1, i + 1):
        print(b, end=' ')
    print('\r')

1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6
7 7 7 7
8 8 8
9 9
10

**Steepy mountain**

program to print mointain steeping to left, making obtuse angle with x axis. 


common mistake:

do not declare value inside the i iteration.



```

for i in range (0,10):
    value=["*"]
    for j in value:
        print(j,end=" ")
```
please dont do this if you do the changes will not be updated.

(you will get a long vertical line of *)

In [ ]:
value=["*"]
for i in range (0,10):
    for j in value:
        print(j,end=" ")
    print(" ")    
    value.append(" * ")
    value.insert(0,"  ")

*
   *  *
      *  *   *
         *  *   *   *
            *  *   *   *   *
               *  *   *   *   *   *
                  *  *   *   *   *   *   *
                     *  *   *   *   *   *   *   *
                        *  *   *   *   *   *   *   *   *
                           *  *   *   *   *   *   *   *   *   *

**Inverted pyramid of same number**

In [ ]:
#inverted triangle of same number
nm=5
for i in range (10,0,-1):
    for j in range(0,i):
        print(nm, end=" ")
    print("\t")

5 5 5 5 5 5 5 5 5 5
5 5 5 5 5 5 5 5 5
5 5 5 5 5 5 5 5
5 5 5 5 5 5 5
5 5 5 5 5 5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

**Reverse pyramid of numbers**

In [ ]:
val=10
for i in range (0,10): #signifies the row count
    for j in range (val,0,-1):
        print(j,end=" ")
    print(" ") 
    val-=1

10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

**Pyramid of even numbers**

In [ ]:
rows = 10
LastEvenNumber = 2 * rows
evenNumber = LastEvenNumber
for i in range(1, rows+1):
    evenNumber = LastEvenNumber
    for j in range(i):
        print(evenNumber, end=" " )
        evenNumber -= 2
    print("\r")

20
20 18
20 18 16
20 18 16 14
20 18 16 14 12
20 18 16 14 12 10
20 18 16 14 12 10 8
20 18 16 14 12 10 8 6
20 18 16 14 12 10 8 6 4
20 18 16 14 12 10 8 6 4 2

**Triangle with asterick**

In [64]:

size = 7

m = 2 *(size- 2)

for i in range(0, size):

    for j in range(0, m):

        print(end=" ")

    m = (m -1)# decrementing m after each loop

    for j in range(0, i + 1):

        # printing full Triangle pyramid using stars

        print("* ", end=" ")

    print(" ")

          *
         *  *
        *  *  *
       *  *  *  *
      *  *  *  *  *
     *  *  *  *  *  *
    *  *  *  *  *  *  *

**Inverted triangle with asterick**

In [ ]:
rows = 5
k = 2 *( rows -2)
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print(" ")

      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           *